.w-container {
  border: solid 0.1rem red;
  border-radius: 0.3rem;
  font-family: sans-serif;
  padding: 1rem;
}

.w-button {
  cursor: pointer;
  font-size: 1.4rem;
}

.w-message {
  background: lightgray;
  border-radius: 0.3rem;
  display: block;
  padding: 0.4rem;
}
